@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Mona-sans";
  src: url("/font/Mona-Sans.woff2") format("opentype");
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Mona-sans", sans-serif;
}

.message-box {
  scroll-behavior: smooth;
}

/* Remove message box scrollbar override */
/* .message-box::-webkit-scrollbar {
  display: none;
} */

.login-background{
  background: url("/images/home-bg.png") no-repeat center center/cover;
}

.register-background{
  background: url("/images/home-bg.png") no-repeat center center/cover;
}

.home-background{
  background: url("/images/home-bg.png") no-repeat center center/cover;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}